@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: Roboto, serif;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flat-button {
  border: none;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
  cursor: pointer;

  &.round-button {
    padding: 3.5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover, &.active {
    background-color: #888;
  }
}

.story-column {
  margin: 10px;
}
