@import "@styles/variables";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  pointer-events: none;

  > .content {
    pointer-events: all;
    box-shadow: $glow;
    background-color: white;
    border-radius: $corner-radius;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}
