.scrumboard {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(300px, 1fr);
  grid-gap: 15px;
  padding: 10px;

  > .story-column {
    width: 100%;
    box-sizing: border-box;
  }
}
