@import "@styles/variables";

.story-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: $corner-radius;
  background-color: lightslategray;
  width: fit-content;
  padding: 15px 0;

  > .title {
    background-color: #fff3;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  > .drop-area {
    width: 100%;
    height: 100%;

    > *:not(.title) {
      margin: 10px 15px;
    }
  }
}
